/* ---------------------------------------------------------------- */
/* 15.Services                                                    
/* ---------------------------------------------------------------- */
.services-box { 
    border-radius: 5px;
    padding: 30px;
    transition: all 0.25s linear;
    box-shadow: 0 10px 28px 0 $color_shadow;
    &:hover {
        box-shadow: 0 23px 49px 0 $color_shadow;
    }
    .services-box-body {
        > i {
            display: inline-block;
            height: 80px;
            width: 80px;
            text-align: center;
            font-size: 40px;
            line-height: 80px;
            border-radius: 5px;
            background: $color_primary;
            color: $color_white;
            margin-bottom: 20px;
        }
        h5 {
            margin-bottom: 15px;
        }
        .services-more-link {
            border-radius: 5px;
            font-size: 14px;
            margin-top: 15px;
            padding: 10px 20px;
            display: inline-block;
            text-transform: capitalize;
            transition: all 0.25s linear;
            color: $color_white;
            background: $color_primary;
            &:hover {
                background: darken($color_primary , 5%);
                color: $color_white;  
                animation: pulseOrange 1s 1 linear;
                transform: translateY(-5px);
            }
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Large devices (desktops, 992px and up)
/* ---------------------------------------------------------------- */
@media only screen and (min-width:991.98px) {
	.services-item-resp {
        &:nth-child(1),&:nth-child(3),&:nth-child(2) {
            margin-bottom: 30px;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Medium devices (tablets, less than 992px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:991.98px) {
	.services-item-resp {
        margin-top: 30px;
        &:nth-child(1), &:nth-child(2) {
            margin-top: 0;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Small devices (landscape phones, less than 768px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:767.98px) {
    .services-item-resp {
        margin-top: 30px !important;
        &:first-child {
            margin-top: 0 !important;
        }
    }
}
/* ---------------------------------------------------------------- */
/* Responsive Media Query
 * Extra small devices (portrait phones, less than 576px)
/* ---------------------------------------------------------------- */
@media only screen and (max-width:575.98px) {
    .services-box {
        .services-box-detail {
            a {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
        }
    }
}
