// Fonts
$font_heading         : "Open Sans",sans-serif;
$font_text            : "Roboto", sans-serif;

// Colors 
$color_primary        : #ff5500;
$color_white          : #fff;
$color_dark_bg        : #141414;
$color_black          : #000;
$body_text            : #636b72;
$color_light_grey     : #f2f4fb;
$color_primary_light  : #ffede5;
$color_soft_grey      : #e0e0e0;
$color_grey_secondary : #eee;
$color_shadow         : rgba(61,82,96,0.15);
$color_shadow_hover   : rgba(61,82,96,0.2);